//Properties
$colors: (
  darkest-grey: #6A6A6A,
  lighter-grey: #D1D1D1,
  light-grey: #C3C3C3,
  nav-grey: #6A6A6A,
  header-grey: #6A6A6A,
  text-grey: #707070,
  form-grey: #828282
);

@function get-color($color-map-item) {
  @return map-get($colors, $color-map-item);
}

$iPad: 768px;
$desktop: 864px;


//base
body, html {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  background: #FFF;
  width: 100%;
  height: 100%;

}
//Components
#hero {
  h1 {
    font-size: 50px;
  }
}

.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 200px 40px;
}

.header {

}

.menu {}

.content {}

.footer {}

//layout
header {
  div#promo{

  }
  div#navbar{
    div#logo{

    }
    //may utilize mixin for this
    nav{
      display: inline-block;
      a:first-child{

      }
      a{

      }
      a:last-child{

      }
    }
  }
}
